<div class="w-full h-[calc(100vh_-_100px)] flex justify-center items-center">

    <details class=" bg-white rounded-[5px] cursor-pointer w-7/12 max-h-[800px] shadow-md hover:shadow-lg transition-all p-[20px]">
        <summary class="font-bold text-lg">
            E-MAIL PLUS (5 GB)
            <span class="icon"></span>
        </summary>
        <textarea class="my-5 transition-all border radius focus:h-32 h-10 w-full p-1" name="" id="" rows="3"></textarea>
        <div class="w-full flex justify-items-end">
            <button (click)="openDialog()" class="ml-auto text-white bg-blue-500 hover:scale-105 transition-all rounded p-3 px-8">LIZENZ ANPASSEN</button>
        </div>
    </details>
</div>