<div class="p-[20px]">
    <h1 class="text-3xl text-center">Lizenz anpassen</h1>
    <p class="text-center text-gray-500">mail@mail.cm</p>
    <div class="w-full h-full">
        <div class="shadow h-11/12 w-56  hover:scale-125 bg-gray-400"></div>
        <div class="shadow h-11/12 w-56 hover:scale-125"></div>
        <div class="shadow h-11/12 w-56 hover:scale-125"></div>
        <div class="shadow h-11/12 w-56 hover:scale-125"></div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">X</button>
    </div>
</div>